/* ------------------------------------------------------------------------------------------------------------------------- */
/* |                                                   poster                                                              | */
/* ------------------------------------------------------------------------------------------------------------------------- */

.poster {
    position: relative;
}

.poster video {
    width: 100%;
    height: 100vh;
    display: block;

    /* object-fit 是一个 CSS 属性，用于控制替换元素（如 <img> 和 <video>）在其容器内的布局方式，特别是在容器的大小与替换元素的宽高比例不匹配时。
    它允许你定义替换元素如何适应其容器，并决定是拉伸、缩放、剪切或自适应等 */
    object-fit: cover;
}

.poster .letter {
    position: absolute;
    top: 76px;
    right: 10px;
    width: 183px;
    height: 176px;
}

.posterBox {
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.posterBox span {
    display: block;
    color: white;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 10px rgba(114,71,21,0.68), 0 0 10px rgba(114,71,21,0.68);
    margin: 32px auto 27px;
}

.playButtonBorder {
    width: 100%;
    height: 76px;
    background: url("../images/playButtonBorder.png") no-repeat center center;
    position: relative;
}

.playButton {
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    /* 調整元素的偏移 */
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 0;
    background-color: white;
}

.playButton::before {
    content: "";
    width: 28px;
    height: 28px;
    background-image: url("../images/playButton.png");

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playButton:hover {
    background-color: transparent;
}

/* 在hover時更改before裡的元素 */
.playButton:hover::before {
    background-position: 0px -28px;
}

.deviceArea {
    justify-content: center;
}

.deviceArea .QRcode {
    width: 180px;
    height: 180px;
    margin: 0 -10px 0 5px;
    background: url("../images/QRcode.png") no-repeat center center;
    transform: scale(0.75);
} 

.deviceArea .devices {
    display: flex;
    flex-direction: column;
}

.devices img {
    margin: 6px 5px 1px 0;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
/* |                                                   news                                                                | */
/* ------------------------------------------------------------------------------------------------------------------------- */

.news {
    width: 100%;
    height: 100vh;
    background: url("../images/news_background.jpg") no-repeat center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsBox {
    display: flex;
    flex-direction: row;
}

.news h1 {
    font-size: 50px;
    color: white;
    position: relative;
    margin-bottom: 50px;
}

.news h1::before {
    content: '';
    width: 385px;
    height: 14px;
    position: absolute;
    top: 40%;
    left: -420%;
    background: url("../images/news_title.png") no-repeat left center/cover;
}

.news h1::after {
    content: '';
    width: 385px;
    height: 14px;
    position: absolute;
    top: 40%;
    right: -420px;
    background: url("../images/news_title.png") no-repeat right center/cover;
    transform: rotateY(180deg);
}

.newsPics {
    width: 640px;
    height: 400px;
    position: relative;
}

.newsPics ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
}

.newsPics ul li {
    width: 15px;
    height: 15px;
    list-style-position: inside;
    color: rgba(255, 255, 255, 0);
    border: 2.5px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    font-size: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.activeLi {
    background-color: rgba(255, 255, 255, 1);
}

.newsList {
    width: 640px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.newsList ul {
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    font-size: 17px;
}

.newsList ul span:first-child:not(li span) {
    border-bottom: 3px solid rgba(255, 255, 255, 0.15);
}

.newsList ul span div {
    width: 60px;
    color: #ffd49f;
    position: relative;
    top: 3px;
    font-size: 20px;
    border-bottom: 3px solid #ffd49f;
    padding-bottom: 10px;
    padding-left: 20px;
}

.newsList ul li:nth-child(2) {
    padding-top: 5px;
}

.newsList ul li {
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 15px;
    padding-left: 10px;
    position: relative;
}

.newsList ul li span {
    display: block;
    position: absolute;
    top: 0%;
    right: 5px;
    text-align: right;
    color: rgba(255, 255, 255, 0.4);
    font-size: 15px;
}

.newsList ul span img {
    vertical-align: text-top;
    margin-right: 10px;
}

.newsList ul span:nth-child(7) {
    text-align: right;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
/* |                                                   city                                                                | */
/* ------------------------------------------------------------------------------------------------------------------------- */

.city li {
    width: 100%;
    height: 260px;
    line-height: 260px;
    text-align: center;
    background:no-repeat center/100% 100% cover;
    position: relative;
}

/* .cityBg::before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
} */

.cityBg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: center no-repeat;
}

.city li p {
    position: relative;
    z-index: 3;
    color: white;
    font-size: 36px;
}

.upcoming {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.city li p:not(.upcoming):before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* .city li p::after {
    content: '123';
    background: url("../images/cityFontUline.png") no-repeat center;
    display: block;
    width: 100%;
    height: 100%;
} */

.city li p:hover::before {
    visibility: hidden;
}










footer {
    width: 100%;
    background-color: #111;
}

.footerTop {
    height: 50px;
}

.footerBottom {
    background-color: black;
}