/* ------------------------------------------------------------------------------------------------------------------------- */
/* |                                                   poster                                                              | */
/* ------------------------------------------------------------------------------------------------------------------------- */

.poster {
    position: relative;
}

.poster video {
    width: 100%;
    height: 100vh;
    display: block;

    /* object-fit 是一个 CSS 属性，用于控制替换元素（如 <img> 和 <video>）在其容器内的布局方式，特别是在容器的大小与替换元素的宽高比例不匹配时。
    它允许你定义替换元素如何适应其容器，并决定是拉伸、缩放、剪切或自适应等 */
    object-fit: cover;
}

.poster .letter {
    position: absolute;
    top: 76px;
    right: 10px;
    width: 183px;
    height: 176px;
}

.posterBox {
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.posterBox span {
    display: block;
    color: white;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 10px rgba(114,71,21,0.68), 0 0 10px rgba(114,71,21,0.68);
    margin: 32px auto 27px;
}

.playButtonBorder {
    width: 100%;
    height: 76px;
    background: url("../images/home/poster/playButtonBorder.png") no-repeat center center;
    position: relative;
}

.playButton {
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    /* 調整元素的偏移 */
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 0;
    background-color: white;
}

.playButton::before {
    content: "";
    width: 28px;
    height: 28px;
    background-image: url("../images/home/poster/playButton.png");

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playButton:hover {
    background-color: transparent;
}

/* 在hover時更改before裡的元素 */
.playButton:hover::before {
    background-position: 0px -28px;
}

.deviceArea {
    justify-content: center;
}

.deviceArea .QRcode {
    width: 180px;
    height: 180px;
    margin: 0 -10px 0 5px;
    background: url("../images/home/download/QRcode.png") no-repeat center center;
    transform: scale(0.75);
} 

.deviceArea .devices {
    display: flex;
    flex-direction: column;
}

.devices img {
    margin: 6px 5px 1px 0;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
/* |                                                   news                                                                | */
/* ------------------------------------------------------------------------------------------------------------------------- */

.news {
    width: 100%;
    height: 100vh;
    background: url("../images/home/news/news_background.jpg") no-repeat center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsBox {
    display: flex;
    flex-direction: row;
}

.news h1 {
    font-size: 50px;
    color: white;
    position: relative;
    margin-bottom: 50px;
}

.news h1::before {
    content: '';
    width: 385px;
    height: 14px;
    position: absolute;
    top: 40%;
    left: -420%;
    background: url("../images/home/news/news_title.png") no-repeat left center/cover;
}

.news h1::after {
    content: '';
    width: 385px;
    height: 14px;
    position: absolute;
    top: 40%;
    right: -420px;
    background: url("../images/home/news/news_title.png") no-repeat right center/cover;
    transform: rotateY(180deg);
}

.newsPics {
    width: 640px;
    height: 400px;
    position: relative;
    cursor: pointer;
}

.newsPics ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
    cursor: auto;
}

.newsPics ul li {
    width: 15px;
    height: 15px;
    list-style-position: inside;
    color: rgba(255, 255, 255, 0);
    border: 2.5px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    font-size: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.activeLi {
    background-color: rgba(255, 255, 255, 1);
}

.newsList {
    width: 640px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.newsList .newsListTitle {
    width: 95%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #ffd49f;
    position: relative;
}

.newsList .newsListTitle p {
    padding-left: 10px;
}

.newsList .newsListTitle hr {
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0px;
    position: absolute;
    bottom: 0;
}

.newsList .newsListTitle .newsListUnderline {
    height: 3px;
    width: 60px;
    background-color: #ffba67;
    position: absolute;
    bottom: 0;
}

.newsList ul {
    width: 95%;
    list-style: none;
    font-size: 17px;
}

.newsList ul li {
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.newsList ul li:hover {
    background-color: rgba(255, 230, 200, 0.1);
}

.newsList ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-align: left;
    color: white;
    padding-left: 5px;
}

.newsList ul li span {
    position: absolute;
    right: 0;
    color: rgba(255, 255, 255, 0.4);
    font-size: 15px;
}

.loadNews {
    width: 95%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
}

.loadNews img {
    height: 22px;
    margin-right: 10px;
}

.loadNews:hover {
    color: rgba(255, 212, 159, 0.6);
}

.loadNews:hover img {
    background-color: rgba(255, 212, 159, 0.2);
}

/* ------------------------------------------------------------------------------------------------------------------------- */
/* |                                                   city                                                                | */
/* ------------------------------------------------------------------------------------------------------------------------- */

.city li {
    box-sizing: border-box;
    width: 100%;
    height: 260px;
    line-height: 260px;
    text-align: center;
    position: relative;
    list-style-type: none;
    overflow: hidden;

    transform-style: preserve-3d;
    perspective: 500px;
}

.cityBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center/cover;
    transition: 0.3s linear all;
}

.city li a {
    text-decoration: none;
}

.city li p {
    position: relative;
    z-index: 3;
    color: white;
    font-size: 40px;
}

.city li:not(:nth-child(6)):hover {
    border: 5px solid white;
    transition: 0.2s linear all;
}

.city li:hover .characterImg,
.city li:hover .underline {
    opacity: 1;
    transition: 0.2s linear all;
}

.city li:not(:nth-child(6)):hover .cityBg {
    transform: translateZ(100px);
    transition: 0.3s linear all;
}

.upcoming::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.city li:not(:nth-child(6))::before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.city li:not(.upcoming):hover::before {
    background-color: rgba(0, 0, 0, 0.15);
    transition: 0.2s linear all;
}

.city li p:not(.upcoming):after {
    content: "";
    background-image: url("../images/home/cityBg/cityFontBg.png");
    filter: brightness(2);
    width: 132px;
    height: 132px;
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.characterImg {
    position: absolute;
    z-index: 2;
    top: 0;
    margin-left: -100px;
    opacity: 0;
    transition: 0.2s linear all;
}

.underline {
    position: absolute;
    z-index: 2;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.2s linear all;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
/* |                                                   contactBox                                                          | */
/* ------------------------------------------------------------------------------------------------------------------------- */

.contactBox {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: 0.4s all linear;
}

.contactBox p {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 18px auto;
}

.contactBox .contactList {
    list-style: none;
    width: 178px;
    padding: 10px 2px;
}

.contactBox .contactList li {
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
}

.contactBox .contactList li:hover {
    background-color: #333;
    transition: 0.1s all linear;
}

.contactBox .contactList li a {
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.contactBox .contactList li a span {
    color: #333;
    font-size: 25px;
    padding-left: 21px;
}

.contactBox .contactList li:hover a span {
    color: #f1ad5f;
    transition: 0.1s all linear;
}

.contactList li:nth-child(5) a span {
    color: #333;
    font-size: 20px;
}

.contactBox .contactList li a .contactText {
    font-size: 19px; 
    padding-right: 21px;
}

.contactBtn {
    position: absolute;
    top: 10px;
    left: -30px;
    width: 30px;
    height: 52px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    background-color: #333;
}

.contactBtnImg {
    margin: 0 auto;
    vertical-align: middle;
    width: 12px;
    height: 18px;
    transition: 0.2s all linear;
    transform: rotateZ('0deg');
}